*{
    margin: 0%;
    padding: 0%;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides{
    text-align: center;
    justify-content: center;

}
.mySlides img{
    width: auto;
    height: 600px;
    object-fit:contain ;
}
.prev,.next {
  cursor:pointer;
  position: absolute;
  top: 50%;
  width:auto;
  padding:16px;
  margin-top:-22px;
  color: rgb(32, 30, 30);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px
}
.prev:hover,.next:hover{
    background-color: rgb(0,0,0,8);
}

.dotthree{
    text-align: center;
    color: #000;

    
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


